@model PartialViewDemo.Models.Currency

<table>
    <tr><td><b>Devise</b></td><td><b>$ CAN</b></td></tr>
    <tr><td>USD</td><td>@Model.USD</td></tr>
    <tr><td>EUR</td><td>@Model.EUR</td></tr>
    <tr><td>GBP</td><td>@Model.GBP</td></tr>

    <input type="button" onclick="Refresh();" value="refresh" />
</table>

