@{
    ViewBag.Title = "Nicolas Chourot";
}
<h2>[@ViewBag.Title]</h2>
<h3>@ViewBag.Message</h3>

<address>
    Enseignant<br />
    Département d'informatique<br />
    Collège Lionel-Groulx<br />
    100 rue Duquette<br />
    <abbr title="Téléphone">T:</abbr>
    450 430 3120
</address>

<address>
    <strong>Support:</strong>   <a href="https://portail2.clg.qc.ca/ColNet/login.asp">ColNet</a><br />
    <strong>Urgence:</strong> <a href="mailto:nicolaschourot@videotron.ca">Nicolas Chourot</a>
</address>