@model List<String>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table>
    <tr><td>Noms</td></tr>
    @foreach (String user in Model)
    {
        <tr>
            <td>
                @user
            </td>
        </tr>
    }
</table>